@import 'variables.scss';
@import './title/title.scss';
@import 'line.scss';
@import './content/content.scss';
body,
html {
    background-color: #ededed;
}

.main {
    width: $Width-main;
    height: $Height-main;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: block;
    margin-top: 100px;
}
